/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  /* padding: 30px 0; */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background-color: orangered;

}

.navbar.sticky {
  padding: 10px 0;
  background: orangered;
}

.navbar .max-width {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  /* color: #fff; */
  color: deepskyblue;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: deepskyblue;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}